html {
  --image-scale: 1;
}
.toolbar .image-icon, .image-icon {
  display: inline-block;
  border-width: 0;
  background-color: transparent;
  background-image: url("../images/icons.png");
  background-position: 0px 0px;
  box-sizing: border-box;
  border-radius: 0;
  background-size: calc(128px*var(--image-scale));
  width: calc(15px * var(--image-scale) + 0px);
  height: calc(15px * var(--image-scale) + 0px);
  min-height: calc(15px * var(--image-scale) + 0px);
}

.toolbar .image-button {
  border-width: 0;
  background-color: transparent;
}
.toolbar .image-button:hover, .image-button:hover {
  background-color: #888888;
}
.toolbar .image-button.selected, .image-button.selected {
  background-color: var(--selected-bg-color);
}
.toolbar .image-icon.grid, .image-icon.grid {
  background-position: calc(-32px*var(--image-scale)) 0px;
}
.toolbar .image-icon.circle-plus, .image-icon.circle-plus {
  background-position: calc(-0px*var(--image-scale)) 0px;
}
.toolbar .image-icon.circle-minus, .image-icon.circle-minus {
  background-position: calc(-1*16px) 0px;
}

.toolbar .image-icon.plus, .image-icon.plus {
  background-position: calc(-0*16px) calc(-3*16px);
}
.toolbar .image-icon.minus, .image-icon.minus {
  background-position: calc(-1*16px) calc(-3*16px);
}

.image-icon.root {
  background-position: calc(-3*16px) calc(-0*16px);
}
.image-icon.square {
  background-position: calc(calc(-4 * 16px)*var(--image-scale)) 0px;
}
.image-icon.circle {
  background-position: calc(calc(-5 * 16px)*var(--image-scale)) 0px;
}
.image-icon.group {
  background-position: calc(calc(-6 * 16px)*var(--image-scale)) 0px;
}
.image-icon.textbox {
  background-position: calc(calc(-7 * 16px)*var(--image-scale)) 0px;
}
.image-icon.link {
  background-position: calc(calc(-1 * 16px)*var(--image-scale)) calc(calc(-1*16px)*var(--image-scale));
}
.image-icon.linked {
  background-position: calc(calc(-0 * 16px)*var(--image-scale)) calc(calc(-1*16px)*var(--image-scale));
}

.image-button {
  display: flex;
  flex-direction: row;
}
.image-button span {
  padding: 0 0.25rem;
}

.image-button.icon-right {
  flex-direction: row-reverse;
}

.toolbar .image-icon.caret-down, .image-icon.caret-down {
  background-position: calc(-1*16px) calc(-2*16px);
}
.image-icon.caret-right {
  background-position: calc(-0*16px) calc(-2*16px);
}
.image-icon.caret-left {
  background-position: calc(-2*16px) calc(-2*16px);
}
.image-icon.caret-down {
  background-position: calc(-0*16px) calc(-2*16px);
}
.image-icon.mouse-cursor {
  background-position: calc(-0*16px) calc(-4*16px);
}
.image-icon.move-shape {
  background-position: calc(-1*16px) calc(-4*16px);
}
